<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GAMES EVENTS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>
        <h1>Gestión de Eventos</h1>
       <nav>
    <a href="{% url 'index' %}">Inicio</a>
    {% if user.is_authenticated %}
        <a href="{% url 'user_panel' %}">Panel de Usuario</a>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">Cerrar Sesión</button>
        </form>
    {% else %}
        <a href="{% url 'login_usuario' %}">Iniciar Sesión</a>
        <a href="{% url 'registro_usuario' %}">Registrarse</a>
    {% endif %}
</nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Gestión de Eventos</p>
    </footer>
</body>
</html>